<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Gridcontainer"/>

<f:section name="Main">
	<div class="contactpersons">
		<div class="introtext">
			{data.tx_gridelements_view_column_111->f:format.raw()}
		</div>
		<div class="entries">
			<div class="row entries-row-1">
				{data.tx_gridelements_view_column_112->f:format.raw()}
				{data.tx_gridelements_view_column_113->f:format.raw()}
			</div>
			<div class="row entries-row-2">
				{data.tx_gridelements_view_column_114->f:format.raw()}
				{data.tx_gridelements_view_column_115->f:format.raw()}
			</div>
		</div>
	</div>
</f:section>

</html>