<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Gridcontainer"/>

<f:section name="Main">
	<div class="skills entries cols-3">
		<div class="skill-1 col-1">
			{data.tx_gridelements_view_column_104->f:format.raw()}
		</div>
		<div class="skill-2 col-2">
			{data.tx_gridelements_view_column_105->f:format.raw()}
		</div>
		<div class="skill-3 col-3">
			{data.tx_gridelements_view_column_106->f:format.raw()}
		</div>
	</div>
	<div class="skills subline cols-3">
		<div class="subline-1 col-1">
			{data.tx_gridelements_view_column_107->f:format.raw()}
		</div>
		<div class="subline-2 col-2">
			{data.tx_gridelements_view_column_108->f:format.raw()}
		</div>
	</div>
</f:section>

</html>