<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
	<div class="header-spacer"></div>
	<f:render partial="SideBar" section="Main"/>
	<div class="content center-section">
		<div class="page-padding">
			<f:render partial="NaviBreadcrumb" section="Main"/>
			<!--TYPO3SEARCH_begin-->
			<f:cObject typoscriptObjectPath="lib.content.main"/>
			<!--TYPO3SEARCH_end-->
		</div>
	</div>
</f:section>

</html>