<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Main">
	<footer>
		<div class="container page-padding social">
			<f:render partial="SocialMedia" section="Main"/>
		</div>
		<div class="footer-box ce-background-gradient">
			<div class="customer container page-padding">
				<f:render partial="Customer" section="Main"/>
			</div>
		</div>
		<div class="footer-box">
			<div class="container page-padding sitemap">
				<f:render partial="Sitemap" section="Main"/>
			</div>
			<div class="container page-padding certificate">
				<f:render partial="Certificate" section="Main"/>
			</div>
			<div class="container page-padding navigation">
				<f:render partial="NaviFooter" section="Main"/>
			</div>
		</div>
	</footer>
</f:section>

</html>