<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="HeaderContentFooter" />

<f:section name="content">
	<f:switch expression="{data.layout}">

		<f:case value="1">
			<div class="linkbutton"><f:link.typolink parameter="{data.header_link}" title="{data.bodytext}" class="linkbutton white">{data.bodytext}</f:link.typolink></div>
		</f:case>

		<f:case value="0">
			<div class="linkbutton"><f:link.typolink parameter="{data.header_link}" title="{data.bodytext}" class="linkbutton">{data.bodytext}</f:link.typolink></div>
		</f:case>

		<f:case default="TRUE">
			<div class="linkbutton"><f:link.typolink parameter="{data.header_link}" title="{data.bodytext}" class="linkbutton">{data.bodytext}</f:link.typolink></div>
		</f:case>

	</f:switch>
</f:section>

</html>