<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Main">
	<ul>
		<li><f:cObject typoscriptObjectPath="lib.component.certificate.bayme"/></li>
		<li><f:cObject typoscriptObjectPath="lib.component.certificate.commendit"/></li>
		<li><f:cObject typoscriptObjectPath="lib.component.certificate.go_digital"/></li>
        	<li><f:cObject typoscriptObjectPath="lib.component.certificate.allianz_cybersicherheit"/></li>
	</ul>
</f:section>

</html>