<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Main">
<p><f:translate key="headline_customer" extensionName="websites"/></p>
<div id="customer-slider" class="flexslider">
	<ul class="slides">
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.rohde"/></li>
                <li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.bosch"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.indra"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.ruag"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.leonardo"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.lyomark"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.bendalis"/></li>
		<li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.lehmann"/></li>
                <li class="slide"><f:cObject typoscriptObjectPath="lib.component.customer.maiss"/></li>
	</ul>
</div>
</f:section>

</html>